
<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="festivales-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Llene los campos requeridos</div>
        </div>
   
        <fieldset>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="idnum" class="col-md-2 control-label">Id</label>
                <div class="col-md-10">
                    <input id="idnum" idnum="idnum" class="form-control" type="number" ng-model="currentRecord.id" ng-init="currentRecord.id" readonly="readonly" />
                </div>
                <label for="fila" class="col-md-2 control-label">Fila</label>
                <div class="col-md-10">
                    <input id="fila" fila="fila" class="form-control" type="number" ng-model="currentRecord.fila" ng-init="currentRecord.fila" required />
                </div>
                <label for="numero" class="col-md-2 control-label">Numero</label>
                <div class="col-md-10">
                    <input id="numero" numero="numero" class="form-control" type="number" ng-model="currentRecord.numero" ng-init="currentRecord.numero" required />
                </div>
                
                <label for="pref" class="col-md-4 control-label">Preferencial</label>
                <div class="col-md-10">
                    
                    <input id="pref" pref="pref" type="checkbox" ng-model="currentRecord.preferencial" ng-true-value="true" ng-false-value="false"/>
                </div>
                
                <label for="reser" class="col-md-4 control-label">Reservada</label>
                <div class="col-md-10">
                    
                    <input id="reser" reser="reser" type="checkbox" ng-model="currentRecord.reservada" ng-true-value="true" ng-false-value="false"/>
                </div>
            </div>
            <button type="button" ui-sref='sillasList'>Cancel</button>
            <button type="submit" >Save</button>    
        </fieldset>
    </form>
</div>
