
<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="festivales-form" role="form" ng-submit="form.$valid">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Llene los campos requeridos</div>
        </div>
   
        <fieldset>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="precio" class="col-md-2 control-label">Id</label>
                <div class="col-md-10">
                    <select id="festival" name="festival" ng-options="rc.id for rc in boletas track by rc.id" class="form-control" type="text" ng-model="currentRecord.id" ></select>
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="precio" class="col-md-2 control-label">Cantidad</label>
                    <input id="camtidad" names="cantidad" class="form-control" type="number" ng-model="currentRecord.cantidad" ng-init="currentRecord.cantidad" required />
                <div class="col-md-10">
                </div>
            </div>
            <button type="button" ui-sref='boletasListNoEdit'>Cancel</button>
            <button type="submit" >Save</button>    
        </fieldset>
    </form>
</div>
