<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="festivales-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Llene los campos requeridos</div>
        </div>
   
        <fieldset>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
               <label for="id" class="col-md-2 control-label">Id</label>
                <div class="col-md-10">
                    <input id="id" id="id" class="form-control" type="number" ng-model="currentRecord.id" ng-init="currentRecord.id" readonly="readonly" />
                </div>
                <label for="numSala" class="col-md-2 control-label">Numero sala</label>
                <div class="col-md-10">
                    <input id="numSala" numSala="numSala" class="form-control" type="number" ng-model="currentRecord.numSala" ng-init="currentRecord.numSala" required />
                </div>
                <label for="numSillas" class="col-md-2 control-label">Numero sillas</label>
                <div class="col-md-10">
                    <input id="numSillas" numSillas="numSillas" class="form-control" type="number" ng-model="currentRecord.numSillas" ng-init="currentRecord.numSillas" required />
                </div>
                <label for="numSillasGenerales" class="col-md-2 control-label">Numero sillas G</label>
                <div class="col-md-10">
                    <input id="numSillasGenerales" numSillasGenerales="numSillasGenerales" class="form-control" type="number" ng-model="currentRecord.numSillasGenerales" ng-init="currentRecord.numSillasGenerales" required />
                </div>
                <label for="numSillasPreferenciales" class="col-md-2 control-label">Numero sillas P</label>
                <div class="col-md-10">
                    <input id="numSillasPreferenciales" numSillasPreferenciales="numSillasPreferenciales" class="form-control" type="number" ng-model="currentRecord.numSillasPreferenciales" ng-init="currentRecord.numSillasPreferenciales" required />
                </div>
                 <label for="esFestival" class="col-md-4 control-label">Es festival</label>
                <div class="col-md-10">
                    
                    <input id="esFestival" esFestival="esFestival" type="boolean" ng-model="currentRecord.esFestival" ng-true-value="true" ng-false-value="false"/>
                </div>
                
            </div>
            <button type="button" ui-sref='salasList'>Cancel</button>
            <button type="submit" >Save</button>    
        </fieldset>
    </form>
</div>

