<div class="container-fluid" >
   <button class="btn btn-default" ui-sref="funcionesCreate">Crear nueva funcion</button>
    <table class="table table-striped" class="col-md-4">
        <thead>
          <tr>    
                <th>Id</th>
                <th>Fecha</th>
                <th>Película</th>
                <th>Sala</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
               <td id="{{$index}}-id">{{record.id}}</td>    
               <td id="{{$index}}-dia">{{record.dia}}</td> 
               <td id="{{$index}}-precio">{{record.pelicula.nombre}}</td>
               <td id="{{$index}}-precio">{{record.teatro.id}}</td>
               <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="funcionEdit({funcionId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


        
