         
 <div class="col-md-6 well">     
     <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
     <form novalidate name="form" id="teatros-form" role="form" ng-submit="form.$valid && ctrl.updateRecord(currentRecord.nombre)">
         
         <div ng-messages="form.$error">   
             <div ng-message="required">Llene los campos requeridos</div>
          </div>
     
          <fieldset>
             <input id="id" class="form-control" type="hidden" ng-model="currentRecord.nombre"/>
              <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                  <label for="name" class="col-md-2 control-label">Nombre</label>
                  <div class="col-md-10">
                    <input id="anuncio" name="name" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                 </div>      
             </div>
             <input id="id" class="form-control" type="hidden" ng-model="currentRecord.ciudad"/>
             <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                 <label for="name" class="col-md-2 control-label">Ciudad</label>
                 <div class="col-md-10">
                     <input id="anuncio" name="ciudad" class="form-control" type="text" ng-model="currentRecord.ciudad" ng-init="currentRecord.ciudad" required />
                  </div>      
              </div>
              <button type="button" ui-sref='teatrosList'>Cancel</button>
             <button type="submit" >Save</button>
         </fieldset>
     </form>
 </div>
 
 
 
  